////////////
// HEADER //
////////////

$tailleLogo: 130px;
$tailleLogo2: 358px;


///////////////
// CONTAINER //
///////////////
$widthContainerLarge: 88%;



//////////
// LINK //
//////////

$linkAccueil: "http://0.0.0.0:8181/";
$linkEquipage: "http://0.0.0.0:8181/index.php/equipage/";

$linkDlanight: "http://0.0.0.0:8181/#";
$linkBenhabsxv: "http://0.0.0.0:8181/#";
$linkKams: "http://0.0.0.0:8181/#";
$linkKrystal: "http://0.0.0.0:8181/#";

///////////
// COLOR //
///////////

$colorBrigade: #017B82;